
*{
  font-family: 'Gugi', cursive;
  margin: 0px;
  padding: 0px;
}

body {
  background: url('http://digitalrecordingarts.com/wp-content/uploads/2017/12/BG.png') no-repeat center center fixed;
  background-size: cover;
  overflow-y: auto;
}

/* top nav bar */
header.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('https://i.imgur.com/X01ZdW0.jpg');
  justify-content: flex-end;
  z-index: 10;
}

header a{
  color: dimgray;
  font-weight: ;
  font-size:24px;
  padding: 3px 6px;
  margin: 12px;
  text-decoration: none;
}

header a:hover{
  text-decoration: underline;
}

header p{
  margin:16px;
  margin-right: 6%;

}


/* anouncement board */
.anouncecontainer {
  background-color: grey;
  border: 3px solid white;
  padding: 22px;
  margin: 140px 12% 160px 12%;
  opacity: .65;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.anouncetitle{
  font-size:44px;
  max-height: 100px;
  color: black;
  opacity: 1;
  position: absolute;

}

.anouncebox{
  background-color: blue;
  background-color: lightgrey;
  font-size: 18px;
  color: black;
  margin: 100px 60px 20px 60px;
  width: 480px;
  height: 520px;
  padding: 10px;
  border: 6px solid white;
  display: inline-block;
  opacity: 1;
  overflow-y: auto;
}



/* sign up page */
.signupbox {
  height: 720px;
  width: 1480;
  background-color: grey;
  border-top: 4px solid white;
  border-left: 4px solid white;

  margin: 140px 15%;
  opacity: .9;
}

div .signuptext1{
  background-color: grey;
  display: flex;
  width: 100%;
  height: 100%;
}



/* about page */
.aboutphotos{
  width: 100%;
  background-color: green;
  position: relative;
  top:220px;
}

div .aboutphotosleft{
  background-color: blue;
  width: 15%;
  margin-left: 15%;
}

div .aboutphotoscenter{
  background-color: blue;
  width: 15%;
}

div .aboutphotosright{
  background-color: blue;
  width: 15%;
}
